/* work sans */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap");
/* shared style */
* {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* header style */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
nav > ul {
  display: contents;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* banner style */
.banner-content {
  max-width: 800px;

  text-align: center;
  margin: auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.text-light-gray {
  color: #727272;
}
.btn-primary {
  border-radius: 8px;
  border: 0;
  background: #ff900e;
  color: #fff;
  text-align: center;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  /* margin-bottom: 20px; */
}
.banner img {
  margin-top: 20px;
  width: 100%;
}

/* main styles */
main {
  max-width: 1440px;
  margin: 70px auto;
  padding: 100px;
}

/* teams-style */
.team-container {
  display: flex;
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.team-content {
  padding-left: 70px;
  padding-right: 70px;
}
.team-title {
  font-size: 2.4rem;
}
.team-title .quick-list {
  color: #727272;
  font-weight: 500px;
}
.text-feature {
  color: #ff900e;
  font-weight: 700;
}

/* feature styles */
.features {
  display: flex;
  margin-top: 130px;
  gap: 100px;
}
.feature-content .card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-bottom: 20px;
}
.features .section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.features-img {
  hight: 90%;
  margin-left: 90px;
}

.ten-years-badge {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  width: 342px;
  padding: 30px;
  text-align: center;
  position: relative;
  bottom: 100px;
  right: 60px;
}
.ten-years-badge h2 {
  font-size: 4rem;
  margin: 0;
}
.ten-years-badge p {
  font-size: 1.5rem;
}
/* facts styles */
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  padding: 30px;
}
.facts-card-container .card-stats {
  font-size: 2.8rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;
}
.facts-card-container .card-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 5px;
  color: #727272;
}

/* sponsors styles */

.sponsors {
  text-align: center;
}
.sponsors-img-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  align-items: center;
}

.sponsors-img-container img {
  width: 165px;
}

/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .team-container,
  .features,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }
  .team-img-container {
    grid-template-columns: 1fr;
  }
  .features img {
    width: 90%;
    margin-left: 0%;
  }
  .ten-years-badge {
    position: static;
    max-width: 300px;
  }
  .team-content,
  .facts-card-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .facts-card-container {
    gap: 20px;
  }
}

/* medium devices */
/* tablet */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav,
  .team-container,
  .features .sponsors-img-container {
    flex-direction: column;
  }
}
